<!--The content below is only a placeholder and can be replaced.-->

<div class="header">
  <a class="btn" routerLink="home" routerLinkActive="active">Home</a>
    <a class="btn" routerLink="aboutus" routerLinkActive="active">About Us</a>
    <a class="btn" routerLink="contactus" routerLinkActive="active">Contact Us</a>




    <div class="header-right">
    <a class="btn" routerLink="clientlogin" routerLinkActive="active">Client Login</a>
    <a class="btn" routerLink="musicianlogin" routerLinkActive="active">Musician Login</a>
  </div>
</div>
  
<div id="title" >
  
  <h1>
     {{ title }}!
  </h1>
  
</div>

<router-outlet></router-outlet>

